
/*=========================
          sections
===========================*/
body {
    background: black;
    font-family:'Times New Roman', Times, serif;
    font: small-caps;
}

header {
    background:rgb(161, 161, 161); 
    position: fixed; 
    top: 0px;
    width: 100vw; height: 15%;
    margin: 0%;
    border: 0%;
    z-index: 1;
}

main {
    position: absolute;
    background:blue;
    top: 15%;
    width: 98%;
    border: 100px, orange; 
    z-index: 0;
}

nav {
    background: white;
    width: 40%;
    margin: auto;
    /*text-align: center;*/
    border: grey;
    border-style: solid;
    font-size: 150%;
    /*min width*/
}


summary {
    background:green;
    margin: auto;
    width: 60%
}

footer {
    background: white;
    height: 15%;
    text-align: center;
    border-top: grey;
    top:85%
}

.head_line {display:inline;
            vertical-align: middle;
}


/*================================
       wrighting
=================================*/

h1 {color: rgb(174, 0, 255);
    font-weight: 900;
    font-size: 500%;
}

ul{
    display: inline-block;
    margin-left:50%;
    transform: translate(-50%,0%)
}

table {
    display: inline-block;
    border-style: solid;
}

/*===================================
        other
====================================*/

a:link{
    color:black;
    text-decoration: none;
}
a:hover{
    color:blueviolet;
    text-decoration: underline;
}
